/* CORRECIÓN */
* {
 margin: 0;
 padding: 0;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

body {
 background: #ff7f52;
}

.contenedor-transiciones {
 width: 90%;
 margin: 40px auto;
 padding: 20px;
 border: 2px solid #fff;
}
.contenedor-transiciones__cuadro{
 background: #000;
 width: 150px;
 height: 150px;
}

.contenedor-transiciones__cuadro--animacion-1{
 transition-property: border-radius, transform;
 transition-duration: 0.5s;
 transition-timing-function: ease-out;
}
.contenedor-transiciones:hover .contenedor-transiciones__cuadro--animacion-1{
	border-radius: 50%;
 transform: translate(1000px);
}

.contenedor-transiciones__cuadro--animacion-2{
 transition-timing-function: ease-in-out;
 transition-property: border-radius, transform;
 transition-duration: 0.5s;
}

.contenedor-transiciones:hover .contenedor-transiciones__cuadro--animacion-2{
	border-radius: 50%;
 transform: translate(1000px);
 background: green;
}

.contenedor-transiciones__cuadro--animacion-3{
 transition: border-radius 5s, transform 1.7s ease-in;
}
.contenedor-transiciones:hover .contenedor-transiciones__cuadro--animacion-3{
	border-radius: 50%;
 transform: translate(1000px);
 background: rgb(0, 9, 128);
}
.contenedor-transiciones__cuadro--animacion-4{
 transition-property: border-radius, transform;
 transition-duration: 0.5s;
 transition-timing-function: ease;
}
.contenedor-transiciones:hover .contenedor-transiciones__cuadro--animacion-4{
	border-radius: 50%;
 transform: translate(1000px);
 background: rgba(207, 243, 6, 0.836);
 transition-delay: 1s;
}

.contenedor-transiciones__cuadro--animacion-5{
 transition-timing-function: ease-in-out;
 transition-property: border-radius, transform;
 transition-duration: 0.5s;
 transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
 transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.contenedor-transiciones:hover .contenedor-transiciones__cuadro--animacion-5{
	border-radius: 50%;
 transform: translate(1000px);
 background: rgb(235, 8, 8);
}
/* CORRECIÓN */