* {
 margin: 0;
 padding: 0;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

body {
 background: #ff7f52;
}

.contenedor__transiciones {
 width: 90%;
 margin: 40px auto;
 padding: 20px;
 border: 2px solid #fff;
}

.contenedor__elemento {
 background: #fff;
 width: 150px;
 height: 150px;

 transition-property: border-radius, transform;
 transition-duration: 0.5s;
 transition-timing-function: ease-out;
}

.contenedor__transiciones:hover .contenedor__elemento {
 border-radius: 50%;
 transform: translate(1000px);
}

/*Color*/

.elemento-color__animacion {
 background: #fff;
 width: 150px;
 height: 150px;
 transition-timing-function: ease-in-out;

 transition-property: border-radius, transform;
 transition-duration: 0.5s;
}

.contenedor__transiciones:hover .elemento-color__animacion {
 border-radius: 50%;
 transform: translate(1000px);
 background: green;
}
/*Color*/
/*Junto*/

.elemento-juntas__animacion {
 background: #fff;
 width: 150px;
 height: 150px;

 /*transition-property: border-radius, transform;
 transition-duration: 0.5s;
 transition-timing-function: ease-out;*/

 transition: border-radius 5s, transform 1.7s ease-in;
}

.contenedor__transiciones:hover .elemento-juntas__animacion {
 border-radius: 50%;
 transform: translate(1000px);
 background: rgb(0, 9, 128);
}

/*Delay*/

.contenedor-delay__elemento {
 background: #fff;
 width: 150px;
 height: 150px;

 transition-property: border-radius, transform;
 transition-duration: 0.5s;
 transition-timing-function: ease;
}

.contenedor__transiciones:hover .contenedor-delay__elemento {
 border-radius: 50%;
 transform: translate(1000px);
 background: rgba(207, 243, 6, 0.836);
 transition-delay: 1s;
}

/*Delay*/
/*Cubic*/

.contenedor-cubic__elemento {
 background: #fff;
 width: 150px;
 height: 150px;
 transition-timing-function: ease-in-out;

 transition-property: border-radius, transform;
 transition-duration: 0.5s;

 transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

 transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contenedor__transiciones:hover .contenedor-cubic__elemento {
 border-radius: 50%;
 transform: translate(1000px);
 background: rgb(235, 8, 8);
}
